@using SMSConsumeAPI.DTO
@model List<SMSConsumeAPI.DTO.EnrollmentDisplayDTO>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<table class="table">
    <thead>
        <tr>
            <th>StudentID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Description</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateofBirth</td>
                <td>@item.Email</td>



                <td>@item.CourseId</td>
                <td>@item.CourseName</td>
                <td>@item.CourseDescription</td>
                <td>@item.EnrollmentDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
